<b>Qus.1:</b> In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators. *, 'hello', -87.8,-, /, +, 6

<b>Ans:</b> 

* Values: 'hello', -87.8, -, /, +, 6
* expressions: *, -, /, +

<b>Qus.2:</b> What is the difference between string and variable?

<b>Ans:</b>

* String: It is a python data type

* Variable: Variable is a name that can use to store data

<b>Qus.3:</b>Describe three different data types.

<b>Ans:</b>

* Integer: It is a whole number, positive or negative without a decimal number and fractional part.

* Float:A float is a floating-point number, which means it is a number that has a decimal place.

* Boolean:  It is used to represent the truth values of the expressions which represents one of the two values i.e. True and False

<b>Qus.4:</b> What is an expression made up of? What do all expressions do?

<b>Ans:</b>
* An expression is a combination of operators and operands that is interpreted to produce some other value. Example a+b, 5*9

<b>Qus.5:</b>This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

<b>Ans:</b>
* Expressions: perform the work of a program. Among other things, expressions are used to compute and to assign values to variables and to help control the execution flow of a program.
* Statements: are roughly equivalent to sentences in natural languages. A statement forms a complete unit of execution.

<b>Qus.6:</b>After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [10]:
bacon = 22
bacon + 1

23

<b>Qus.7:</b>What should the values of the following two terms be?
'spam' + 'spamspam'
'spam'* 3

<b>Ans:</b>
* Both expressions evaluate to the string 'spamspamspam'

In [11]:
'spam'+'spamspam'

'spamspamspam'

In [12]:
'spam'* 3

'spamspamspam'

<b>Qus.8:</b>Why is eggs a valid variable name while 100 is invalid?

<b>Ans:</b> 
* According to the python variable rules, variable names can't begin with a number. That's why eggs is valid variable while 100 is invalid.

<b>Qus.9:</b>What three functions can be used to get the integer, floating-point number, or string
version of a value?

<b>Ans:</b>
* int()
* float()
* str()

<b>Qus.9:</b>Why does this expression cause an error? How can you fix it? 
'I have eaten' + 99 + 'burritos.'

<b>Ans:</b>
* 99 is a integer and integer can't concatenated with the strings only strings can be concatenated to other strings.

In [13]:
'I have eaten' + 99 + 'burritos.'

TypeError: can only concatenate str (not "int") to str

In [14]:
'I have eaten' + '99' + 'burritos.'

'I have eaten99burritos.'

In [15]:
'I have eaten' + str(99) + 'burritos.'

'I have eaten99burritos.'